@import url(./header.css);
@import url(./main.css);
@import url(./footer.css);

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 900;
  src:
    url("../fonts/fonts/ArchivoBlack-Regular.woff") format("woff"),
    url("../fonts/fonts/ArchivoBlack-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/fonts/OpenSans-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/fonts/OpenSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src:
    url("../fonts/fonts/OpenSans-SemiBold.woff") format("woff"),
    url("../fonts/fonts/OpenSans-SemiBold.woff2") format("woff2");
}
